@using MvcBlog.Models

@*@model List<Yorum>*@


    <div class="media">
        <div class="media-left media-top">
            <div class="media-object">
                <span class="glyphicon glyphicon-comment">

                </span>
            </div>
        </div>
        <div class="media-body">
            <div>
                <span class="col-md-10">
                   adaslkfsljfskgjskgj
                </span>
                <span class="col-md-2 text-right">
                    <button type="button" class="btn btn-warning btn-xs">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <button type="button" class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </span>

                <small class="col-md-12 text-right">
                    @*<span class="pull-right">*@
                    <span class="glyphicon glyphicon-time"></span> @DateTime.Now &nbsp; &nbsp; &nbsp;
                    <span class="glyphicon glyphicon-user"></span>emirhan
                    @*</span>*@

                </small>
            </div>
        </div>
    </div>





