
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-8">
    <div class="panel panel-default text-center">
        <div class="panel-heading">
            <h1>Hakkımda</h1>
        </div>





        <div class="panel-body">
            <div class="row">
                <div class="col lg-3 md-5 sm-5">
                    dsd
             
                    <p>sdasd</p>
                </div>

            </div>
        </div>
    </div>
</div>

