
<div class="col-md-8">
    <div class="panel panel-default text-center">
        <div class="panel-heading">
            <h1>İletişim</h1>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col lg-3 md-5 sm-5">
                    <p>
                        "Müşteri Hizmetleri" servisimiz haftanın 7 günü, 24 saat gönderdiğiniz sorulara en hızlı şekilde yanıt verir.
                    </p>
                    <p>
                        Çağrı Merkezimiz her gün 08.00 - 24.00 saatleri arasında çalışır.
                    </p>

                    <p>
                        0123 456 78 90 (Çağrı Merkezi)
                    </p>



                    <h3>Şirket Bilgileri</h3>
                    <dl>
                        <dt>Ünvanı</dt>
                        <dd>Donanım Ticaret Elektronik Satış Hizmetler ve Tic. A.Ş.</dd>

                        <dt>Ticari Sicil Numarası</dt>
                        <dd>123456</dd>

                        <dt>Genel Müdürlük</dt>
                        <dd>
                            Kemalpaşa Mahallesi, Sakarya Üniversitesi Bilgisayar ve Bilişim Bilimleri Fakültesi, 54187 Serdivan/Sakarya
                        </dd>

                        <dt>Operasyon Merkezi</dt>
                        <dd>
                            Kemalpaşa Mahallesi, Sakarya Üniversitesi Bilgisayar ve Bilişim Bilimleri Fakültesi, 54187 Serdivan/Sakarya
                        </dd>

                        <dt>Telefon</dt>
                        <dd>
                            0123 456 78 90 (Çağrı Merkezi)
                        </dd>
                        <dt>Elektronik Posta Adresi</dt>
                        <dd>bilgi@DonanımEticaret.com</dd>
                        <dt>Yer Sağlayıcı</dt>
                        <dd>Donaım Elektronik Satış Hizmetler ve Tic. A.Ş.</dd>
                        <dd>

                        </dd>
                    </dl>
                    @*<div class="contact-image">
                        <a target="blank" rel="nofollow" href="http://www.ito.org.tr/wps/portal">
                            <i class="ito-logo"></i>
                        </a>
                    </div>

                    <div class="contact-image">
                        <a target="blank" rel="nofollow" href="http://www.eticad.org.tr/">
                            <i class="eticad-logo"></i>
                        </a>
                        <a target="blank" rel="nofollow" href="http://www.etid.org.tr/">
                            <i class="etid-logo"></i>
                        </a>
                    </div>*@
                </div>
                <div class="col lg-2 md-5 sm-5">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.890269709799!2d30.323438314803926!3d40.74243997932857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ccaded70ee240b%3A0xd81085b5551312fd!2sBilgisayar+Ve+Bili%C5%9Fim+Bilimleri+Fak%C3%BCltesi!5e0!3m2!1str!2str!4v1511690045401" width="745" height="790" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

            </div>
        </div>

    </div>
</div>

